# streamlit 
gradio
# gradio_image_annotation
PyMuPDF
openai
qwen_vl_utils
transformers>=5.5.0
huggingface_hub
modelscope
mlx-vlm>=0.4.1
torchvision
markdown
# flash-attn==2.8.0.post2  # to speed up inference need flash-attn
accelerate
cairosvg